// Colors
$dark-grey: #333;
$light-grey: #666;
$dark-green: #005454;
$light-green: rgb(37, 248, 37);
$soft-green: #9cffd4;
$off-white: #f7f7f7;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
